@{
Layout = "_Layout";
}

<h1>Student Records</h1>

<button onclick="window.location.href='/'">Go Home</button>
<div class="container">
    <div class="row">
        <div class="col">
            <h6>Name</h6>
        </div>
        <div class="col">
             <h6>Enrollment Date</h6>
        </div>
        <div class="col">
             <h6>Courses</h6>
        </div>
        <div class="col">
             <h6>Update Record</h6>
        </div>
        <div class="col">
             <h6>Delete Record</h6>
        </div>
    </div>
    @foreach(var student in @Model["students"])
    {
        <div class="row">
            <div class="col">
                <p>@student.Name</p>
            </div>
            <div class="col">
                <p>@student.enrollmentDate</p>
            </div>
            <div class="col">
                @foreach(var course in @Model["courses"])
                {
                    <p>@course.CourseName @course.CourseNumber</p>
                }
            </div>
            <div class="col">
               <form class="form-group" action='/students/update' method='get'>
                   <button class="btn btn-info" type="submit">Update Record</button>
               </form>
            </div>
            <div class="col">
                <form class="form-group" action='/students/delete/@student.Id' method='post'>
                   <button class="btn btn-danger" type="submit">Delete Record</button>
               </form>
            </div>
        </div>

    }
    
</div>